<div class="container">
  <div class="row">
    <div class="col-5 offset-1 my-5">
      <h2 class="text-center bg-light">ジャンル編集</h2>
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), class:"my-5" do |f| %>
　      <%= f.label :"ジャンル名" %>
　      <%= f.text_field :name %>
　      <%= f.submit '変更を保存', class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>